# .ebextensions/01_debug_env.config

container_commands:
  01_pip_freeze_log:
    # pip 실행 파일 경로를 직접 지정하는 대신, 올바른 python으로 pip 모듈을 실행합니다.
    command: "/opt/python/run/baselinenv/bin/python -m pip freeze > /tmp/pip_freeze_output.txt"
    leader_only: true
  02_append_pip_freeze_to_activity_log:
    command: "echo '--- PIP FREEZE OUTPUT START ---' >> /var/log/eb-activity.log && cat /tmp/pip_freeze_output.txt >> /var/log/eb-activity.log && echo '--- PIP FREEZE OUTPUT END ---' >> /var/log/eb-activity.log"
    leader_only: true