# .ebextensions/01_debug_env.config
container_commands:
  01_pip_freeze_log:
    command: "/opt/python/run/venv/bin/pip freeze > /tmp/pip_freeze_output.txt"
    leader_only: true
  02_append_pip_freeze_to_activity_log:
    command: "echo '--- PIP FREEZE OUTPUT START ---' >> /var/log/eb-activity.log && cat /tmp/pip_freeze_output.txt >> /var/log/eb-activity.log && echo '--- PIP FREEZE OUTPUT END ---' >> /var/log/eb-activity.log"
    leader_only: true