# .ebextensions/ffmpeg.config

commands:
  01_download_rpmfusion:
    command: "sudo yum install -y https://download1.rpmfusion.org/free/el/rpmfusion-free-release-7.noarch.rpm"
    ignoreErrors: true
  02_enable_epel:
    command: "sudo yum-config-manager --enable epel"
    
packages:
  yum:
    ffmpeg: []
    ffmpeg-devel: []